.svg-github-icon,
.svg-discord-icon {
  fill: white;
  height: 32px;
  width: 32px;
}

.svg-discord-icon,
.svg-format-color-fill-icon,
.svg-page-layout-body-icon,
.svg-apps-icon,
.svg-vuejs-icon {
  fill: white;
  height: 50px;
  width: 50px;
}

.svg-menu-up-icon {
  fill: black;
  height: 25px;
  width: 32px;
}

.svg-menu-down-icon {
  fill: black;
  height: 25px;
  width: 32px;
}

.icon-github {
  background-image: url("../icons/github.svg");
}
